#btnTop {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 3.7%;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(129, 190, 65);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

#btnTop:hover {
  background-color: rgb(0, 56, 48);
}

#sparkitectureNav{
    position: fixed;
    background-color: white;    
    width: 100%;       
    z-index: 9;    
    top: 0;
}


.githubBottom {    
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
  }