#btnTop {
    display: none;
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(0, 56, 48);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    min-width: 50px;
    min-height: 45px;
    height: 5%;
    width: 5%;
}

#btnTop:hover {
    background-color: rgb(129, 190, 65);
}

 #sparkitectureNav{
    position: fixed;
    background-color: white;    
    top: 40px;
    left: 5px;       
    z-index: 9; 
} 

#sparkitectureNav div{
    color: white;
    padding-left: 1%;
}

.light *{
    background-color: white !important;
    color: black !important;
}

.dark *{
    background-color: black !important;
    color: white !important;
}

.light body{
    background-color: white !important;
    color: black !important;
}

.dark body{
    background-color: black !important;
    color: white !important;
}

.light a{
    background-color: white !important;
    color: blue !important;
}

.dark a{
    background-color: black !important;
    color: rgb(129, 190, 65) !important;
}

.light .active a{
    background-color: blue !important;
    color: white !important;
}

.dark .active a{
    background-color: rgb(129, 190, 65) !important;
    color: black !important;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding-left: -1%;
    width: 50%;
  }

.logoWrapper{
    width: 100%;
}

.githubBottom {    
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 12%;
}

.nav-link{
    display: table;
    padding: 0px 25px 0px 5px !important;
}

.active a {
    color: white !important;
}

a {
    color: blue;
}

span {
    color: black;
}

.lvl-1{
    margin-left: 15px;
}
.lvl-2{
    margin-left: 30px;
}
.lvl-3{
    margin-left: 45px;
}
.lvl-4{
    margin-left: 60px;
}

@media (min-width: 0px) and (max-width: 1800px) { 
    
    #sparkitectureNav{
        display: none;
    } 

    #btnTop{
        display: block;
    }

    .logo {
        width: 65%;
        margin-bottom: -30px;
        margin-top: 20px;
      }
 }

 .highlighter-rouge{
     color: black !important;
 }

 .na{
    color: black !important;
}
