<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#81be41">

  {% seo %}
  <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->

  <link rel="stylesheet" href="{{ "/Assets/Styles/site.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/Assets/Styles/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/Assets/Styles/style.css" | relative_url }}">


  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}" />
  <link rel="apple-touch-startup-image" href="{{ "/Assets/Images/logo-192.png" | relative_url }}">
  <link rel="apple-touch-icon" href="{{ "/Assets/Images/icon-192.png" | relative_url }}">
  <link rel="icon" sizes="192x192" href="{{ "/Assets/Images/icon-192.png" | relative_url }}">



  <script src="{{ "/Assets/Scripts/jquery-3.3.1.min.js" | relative_url }}" ></script>
  <script src="{{ "/Assets/Scripts/bootstrap.bundle.min.js" | relative_url }}"></script>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker && navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function (registration) {
        console.log('Sparkitecture Docs service worker, registered with scope: ', registration.scope)        
      }).catch(err => console.error('Theres a problem registering service worker', err));
    }
  </script>
</head>

<body id="sparkitecture" style="position: relative;">

  <div class="container-fluid">
    {% if site.logo %}
    <div class="logoWrapper">
      <a href="{{ "/" | absolute_url }}">
        <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
      </a>
    </div>
    {% endif %}

    <!-- <div class="custom-control custom-switch themeSwitch">
    <input type="checkbox" class="custom-control-input" id="themeSwitch">
    <label class="custom-control-label" for="themeSwitch">Change Theme</label>
  </div> -->

    <div class="row">
      <div class="d-none d-lg-block col-lg-3 col-xl-3">
        <nav id="sparkitectureNav" class="navbar navbar-light">

          <nav class="nav nav-pills flex-column">
            <a class="navbar-brand nav-brand" href="{{ "#" | absolute_url }}">Sparkitecture Docs</a>
            <div class="nav-link my-1" href="#getting-started">
              <a href="{{ "#getting-started" | absolute_url }}">Getting Started</a></div>
            <nav class="nav nav-pills flex-column">
              <div class="nav-link lvl-1 my-1" href="#prerequisites">
                <a href="{{ "#prerequisites" | absolute_url }}">Prerequisites</a></div>
              <nav class="nav nav-pills flex-column">
                <div class="nav-link lvl-2 my-1" href="#installing-prerequisites">
                  <a href="{{ "#installing-prerequisites" | absolute_url }}">Installing
                    Prerequisites</a></div>
                <nav class="nav nav-pills flex-column">
                  <div href="#installing-nodejs-and-npm" class="nav-link lvl-3 my-1">
                    <a href="{{ "#installing-nodejs-and-npm" | absolute_url }}">Installing
                      Node.js and npm</a>
                  </div>
                  <div href="#installing-the-angular-cli" class="nav-link lvl-3 my-1">
                    <a href="{{ "#installing-the-angular-cli" | absolute_url }}">Installing the
                      Angular CLI</a>
                  </div>
                </nav>
              </nav>
              <div class="nav-link lvl-1 my-1" href="#setting-up-sparkitecture">
                <a href="{{ "#setting-up-sparkitecture" | absolute_url }}">Setting Up
                  Sparkitecture</a></div>
              <nav class="nav nav-pills flex-column">
                <div class="nav-link lvl-2 my-1" href="#getting-source-code-and-connecting-to-tfs">
                  <a href="{{ "#getting-source-code-and-connecting-to-tfs" | absolute_url }}">Getting source code and
                    connecting to TFS</a></div>
                <div class="nav-link lvl-2 my-1" href="#setting-up-the-server-solution-web-project">
                  <a href="{{ "#setting-up-the-server-solution-web-project" | absolute_url }}">Setting up the Server
                    solution
                    (Web Project)</a></div>
                <div class="nav-link lvl-2 my-1" href="#setting-up-a-local-database">
                  <a href="{{ "#setting-up-a-local-database" | absolute_url }}">Setting up a
                    local database</a></div>
                <div class="nav-link lvl-2 my-1" href="#running-the-web-app">
                  <a href="{{ "#running-the-web-app" | absolute_url }}">Running the web app</a>
                </div>
                <nav class="nav nav-pills flex-column">
                  <div class="nav-link lvl-3 my-1" href="#running-with-the-angular-cli">
                    <a href="{{ "#running-with-the-angular-cli" | absolute_url }}">Running with
                      the Angular CLI</a></div>
                </nav>
              </nav>
            </nav>
            <div class="nav-link my-1" href="#common-operations">
              <a href="{{ "#common-operations" | absolute_url }}">Common Operations</a></div>
            <nav class="nav nav-pills flex-column">
              <div class="nav-link lvl-1 my-1" href="#create-a-new-component">
                <a href="{{ "#create-a-new-component" | absolute_url }}">Create a New
                  Component</a></div>
              <div class="nav-link lvl-1 my-1" href="#adding-a-search-row">
                <a href="{{ "#adding-a-search-row" | absolute_url }}">Adding a Search Row</a>
              </div>
            </nav>
            <div class="nav-link my-1" href="#mobile">
              <a href="{{ "/Docs/mobile#mobile" | absolute_url }}">Mobile</a></div>
            <nav class="nav nav-pills flex-column">
              <div class="nav-link lvl-1 my-1" href="#app-store">
                <a href="{{ "/Docs/mobile#app-store" | absolute_url }}">App Store</a></div>
              <nav class="nav nav-pills flex-column">
                <div class="nav-link lvl-2 my-1" href="#create-a-new-app">
                  <a href="{{ "/Docs/mobile#create-a-new-app" | absolute_url }}">Create a New
                    App</a></div>
                <div class="nav-link lvl-2 my-1" href="#set-rating-app-store">
                  <a href="{{ "/Docs/mobile#set-rating-app-store" | absolute_url }}">Set Rating
                    (App Store)</a></div>
                <div class="nav-link lvl-2 my-1" href="#set-category-app-store">
                  <a href="{{ "/Docs/mobile#set-category-app-store" | absolute_url }}">Set
                    Category (App Store)</a></div>
              </nav>
              <div class="nav-link lvl-1 my-1" href="#play-store">
                <a href="{{ "/Docs/mobile#play-store" | absolute_url }}">Play Store</a></div>
              <nav class="nav nav-pills flex-column">
                <div class="nav-link lvl-2 my-1" href="#set-rating-play-store">
                  <a href="{{ "/Docs/mobile#set-rating-play-store" | absolute_url }}">Set Rating
                    (Play Store)</a></div>
                <div class="nav-link lvl-2 my-1" href="#set-category-play-store">
                  <a href="{{ "/Docs/mobile#set-category-play-store" | absolute_url }}">Set
                    Category (Play Store)</a></div>
              </nav>
            </nav>
            <div class="nav-link my-1" href="#built-with">
              <a href="{{ "#built-with" | absolute_url }}">Built With</a></div>
            <div class="nav-link my-1" href="#contributors">
              <a href="{{ "#contributors" | absolute_url }}">Contributors</a></div>
            <div class="nav-link my-1" href="#angular-cli-cheat-sheet">
              <a href="{{ "#angular-cli-cheat-sheet" | absolute_url }}">Angular CLI Cheat Sheet</a></div>
          </nav>
        </nav>
      </div>


      <div id="mainContent" class="col-12  offset-lg-1 col-lg-9 col-xl-9 mx-auto markdown-body">

        {{ content }}

        <button onclick="topFunction()" id="btnTop" title="Go to top" class="d-lg-none d-xl-none">Top</button>
        <a href="{% github_edit_link %}"><img class="githubBottom" src="{{site.octocat | relative_url}}"
            alt="Contribute to Docs"></a>
      </div>
    </div>
  </div>

  <script>
    // Add scrollspy to <body>
    $('body').scrollspy({ target: "#sparkitectureNav", offset: 60 });

    // Add smooth scrolling on all links inside the navbar
    $("#sparkitectureNav a").on('click', function (event) {

      // Make sure this.hash has a value before overriding default behavior
      var pathname = window.location.pathname;
      var hrefURL = $(this).attr('href');


      if (hrefURL.startsWith("https://sparkitecture.github.io/SparkitectureDocs/Docs/")) { //Link is outside readme
        if (pathname.startsWith("/SparkitectureDocs/Docs/")) {
          scrollitslow($(this));
        }
      } else {
        if (!pathname.startsWith("/SparkitectureDocs/Docs/")) {
          scrollitslow($(this));
        }
      }
    });

    function scrollitslow(mylink) {
      if (mylink[0].hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = mylink[0].hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });

      }
    }

    window.onscroll = function () { scrollFunction() };
    function scrollFunction() {
      if (screen.width <= 1800) {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
          document.getElementById("btnTop").style.display = "block";
        } else {
          document.getElementById("btnTop").style.display = "none";
        }
      }
    }

    function topFunction() {
      var pathname = window.location.pathname;
      if (pathname.startsWith("/SparkitectureDocs/Docs/")) {
        window.location.href = '../';
      } else {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    }

    $(function () {
      $('table').addClass('table-hover');
    });

    // $('#themeSwitch').change(function () {
    //   if (this.checked) {
    //     if ($('#sparkitectureNav').hasClass('navbar-light')) {

    //       $('#sparkitectureNav').addClass('navbar-dark');
    //       $('#sparkitectureNav').removeClass('navbar-light');

    //       $('#sparkitectureNav').addClass('dark');
    //       $('#sparkitectureNav').removeClass('light');

    //       $('body').addClass('dark');
    //       $('body').removeClass('light');

    //       $('table').addClass('dark');
    //       $('table').removeClass('light');

    //       $('tr').addClass('dark');
    //       $('tr').removeClass('light');

    //       $('td').addClass('dark');
    //       $('td').removeClass('light');
    //     }
    //   } else {
    //     if ($('#sparkitectureNav').hasClass('navbar-dark')) {

    //       $('#sparkitectureNav').addClass('navbar-light');
    //       $('#sparkitectureNav').removeClass('navbar-dark');

    //       $('#sparkitectureNav').addClass('light');
    //       $('#sparkitectureNav').removeClass('dark');

    //       $('body').addClass('light');
    //       $('body').removeClass('dark');

    //       $('table').addClass('light');
    //       $('table').removeClass('dark');

    //       $('tr').addClass('light');
    //       $('tr').removeClass('dark');

    //       $('td').addClass('light');
    //       $('td').removeClass('dark');
    //     }
    //   }
    // });


    // $('[data-spy="scroll"]').on('activate.bs.scrollspy', function () {
    //   if ($(this).hasClass('collapse')) {
    //     $(this).removeClass('collapse');
    //     $(this).addClass('.collapse.show');
    //   }
// })

  </script>
</body>

</html>