<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/Assets/Styles/site.css?v=" | append: site.github.build_revision | relative_url }}">


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body id="sparkitecture" style="position: relative;">

  {% if site.logo %}
  <div class="logoWrapper">
    <a href="{{ "/" | absolute_url }}">
      <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
    </a>
  </div>
  {% endif %}


  <nav id="sparkitectureNav" class="navbar navbar-light">
    <nav class="nav nav-pills flex-column">
      <a class="navbar-brand" href="{{ "#" | absolute_url }}">Sparkitecture Docs</a>
      <a class="nav-link" href="{{ "#getting-started" | absolute_url }}">Getting Started
        <link class="nav-link indicator" href="#getting-started"></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-1 my-1" href="{{ "#prerequisites" | absolute_url }}">Prerequisites
          <link class="nav-link indicator" href="#prerequisites"></a>
        <a class="nav-link ml-1 my-1" href="{{ "#installing-prerequisites" | absolute_url }}">Installing Prerequisites
          <link class="nav-link indicator" href="#installing-prerequisites"></a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="{{ "#installing-nodejs-and-npm" | absolute_url }}">Installing Node.js and
            npm
            <link class="nav-link indicator" href="#installing-nodejs-and-npm"></a>
          <a class="nav-link ml-3 my-1" href="{{ "#installing-the-angular-cli" | absolute_url }}">Installing the
            Angular CLI
            <link class="nav-link indicator" href="#installing-the-angular-cli"></a>
        </nav>
        <a class="nav-link ml-1 my-1" href="{{ "#setting-up-sparkitecture" | absolute_url }}">Setting Up
          Sparkitecture
          <link class="nav-link indicator" href="#setting-up-sparkitecture"></a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1"
            href="{{ "#getting-the-files-and-connecting-to-source-control" | absolute_url }}">Getting the files and
            connecting to source control
            <link class="nav-link indicator" href="#getting-the-files-and-connecting-to-source-control"></a>
          <a class="nav-link ml-3 my-1"
            href="{{ "#setting-up-the-server-solution-web-project" | absolute_url }}">Setting up the Server solution
            (Web Project)
            <link class="nav-link indicator" href="#setting-up-the-server-solution-web-project"></a>
          <a class="nav-link ml-3 my-1" href="{{ "#setting-up-a-local-database" | absolute_url }}">Setting up a local
            database
            <link class="nav-link indicator" href="#setting-up-a-local-database"></a>
          <a class="nav-link ml-3 my-1" href="{{ "#running-the-web-app" | absolute_url }}">Running the web app
            <link class="nav-link indicator" href="#running-the-web-app">
          </a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-4 my-1" href="{{ "#running-with-the-angular-cli" | absolute_url }}">
              <link class="nav-link indicator" href="#running-with-the-angular-cli">Running with the
              Angular CLI</a>
          </nav>
        </nav>
      </nav>
      <a class="nav-link" href="{{ "#common-operations" | absolute_url }}">Common Operations
        <link class="nav-link indicator" href="#common-operations"></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-1 my-1" href="{{ "#create-a-new-component" | absolute_url }}">Create a New Component
          <link class="nav-link indicator" href="#create-a-new-component"></a>
        <a class="nav-link ml-1 my-1" href="{{ "#adding-a-search-row" | absolute_url }}">Adding a Search Row
          <link class="nav-link indicator" href="#adding-a-search-row"></a>
      </nav>
      <a class="nav-link" href="{{ "/Docs/mobile#mobile" | absolute_url }}">Mobile
        <link class="nav-link indicator" href="#mobile"></a>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link ml-1 my-1" href="{{ "/Docs/mobile#app-store" | absolute_url }}">App Store
          <link class="nav-link indicator" href="#app-store"></a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="{{ "/Docs/mobile#create-a-new-app" | absolute_url }}">Create a New
            App
            <link class="nav-link indicator" href="#create-a-new-app"></a>
          <a class="nav-link ml-3 my-1" href="{{ "/Docs/mobile#set-rating-app-store" | absolute_url }}">Set Rating
            (App Store)
            <link class="nav-link indicator" href="#set-rating-app-store"></a>
          <a class="nav-link ml-3 my-1" href="{{ "/Docs/mobile#set-category-app-store" | absolute_url }}">Set Category
            (App Store)
            <link class="nav-link indicator" href="#set-category-app-store"></a>
        </nav>
        <a class="nav-link ml-1 my-1" href="{{ "/Docs/mobile#play-store" | absolute_url }}">Play Store
          <link class="nav-link indicator" href="#play-store"></a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="{{ "/Docs/mobile#set-rating-play-store" | absolute_url }}">Set Rating
            (Play Store)
            <link class="nav-link indicator" href="#set-rating-play-store"></a>
          <a class="nav-link ml-3 my-1" href="{{ "/Docs/mobile#set-category-play-store" | absolute_url }}">Set
            Category (Play Store)
            <link class="nav-link indicator" href="#set-category-play-store"></a>
        </nav>
      </nav>
      <a class="nav-link" href="{{ "#built-with" | absolute_url }}">Built With
        <link class="nav-link indicator" href="#built-with"></a>
      <a class="nav-link" href="{{ "#contributors" | absolute_url }}">Contributors
        <link class="nav-link indicator" href="#contributors"></a>
      <a class="nav-link" href="{{ "#angular-cli-cheat-sheet" | absolute_url }}">Angular CLI Cheat Sheet
        <link class="nav-link indicator" href="#angular-cli-cheat-sheet"></a>
    </nav>
  </nav>

  {{% if site. %}}
  <div class="container-lg px-3 my-5 markdown-body">

    {{ content }}

    <a href="{% github_edit_link %}"><img class="githubBottom" src="{{site.octocat | relative_url}}"
        alt="Contribute to Docs"></a>
  </div>
  

  <script>
    // Add scrollspy to <body>
    $('body').scrollspy({ target: ".navbar", offset: 180 });

    // Add smooth scrolling on all links inside the navbar
    $("#sparkitectureNav a").on('click', function (event) {

      // Make sure this.hash has a value before overriding default behavior
      var pathname = window.location.pathname;
      var hrefURL = $(this).attr('href');


      if (hrefURL.startsWith("https://sparkitecture.github.io/SparkitectureDocs/Docs/")) { //Link is outside readme
        if (pathname.startsWith("/SparkitectureDocs/Docs/")) {
          scrollitslow($(this));
        }
      } else {
        if (!pathname.startsWith("/SparkitectureDocs/Docs/")) {
          scrollitslow($(this));
        }
      }
    });

    function scrollitslow(mylink) {
      if (mylink[0].hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = mylink[0].hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function () {

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });

      }
    }
  </script>
</body>

</html>